body{
	margin: 0 auto;
	width: 100%;
	font-family: sans-serif;
}

.wrapper{
	width: 75%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 10%;
}

header{
	margin-bottom: 56px;
}

header h1{
	margin-left: 385px;
    margin-top: -36px;
}

nav ul{
	list-style: none;
	float: right;
	margin-top: -65px;
}

nav li{
	display: inline;
	padding-left: 25px;
}

.header-content{
	width: 75%;
    margin: 0 auto;
    margin-top: 275px;
}


.header-content h1{
	margin-left: 200px;
}

.header-content button{
	margin-left: 299px;
}

.arrow-link img{
	margin-top: 180px;
    margin-left: 458px;
}

.first-div{
	margin-bottom: 120px;
}

.tinyone-features{
    width: 75%;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center;
    margin-bottom: 92px;
}

.tinyone-features p{
	color: #ACACAC;
	font-size: 18px;
}

.tinyone-features h2{
	font-size: 30px;

}

/*six divs below*/

/*first div*/
.fully-responsive
{
	width: 30%;
	margin-bottom: 27px;
}

.fully-responsive img{
	float: left;
}

.fully-responsive h3{
	padding-left: 63px;
	margin-bottom: -8px;
}

.fully-responsive p{
	padding-left: 63px;
	color: #ACACAC;
}

/*second div*/
.fully-layered-psd
{
	width: 30%;
	float: left;
	margin-left: 350px;
    margin-top: -149px;
}

.fully-layered-psd img{
	float: left;
}

.fully-layered-psd h3{
	padding-left: 63px;
	margin-top: 0px;
	margin-bottom: -8px;
}

.fully-layered-psd p{
	padding-left: 63px;
	color: #ACACAC;
}

/*third div*/
.font-awesome-icons
{
	width: 30%;
	float: left;
    margin-left: 700px;
    margin-top: -150px;
}

.font-awesome-icons img{
	float: left;
}

.font-awesome-icons h3{
	padding-left: 63px;
	margin-top: 0px;
	margin-bottom: -8px;
}

.font-awesome-icons p{
	padding-left: 63px;
	color: #ACACAC;
}

/*fourth div*/
.html-css3
{
	width: 30%;
	padding-top: 90px;
	margin-bottom: 25px;
}

.html-css3 img{
	float: left;
	margin-left: -10px;
    padding-top: 15px;
}

.html-css3 h3{
	padding-left: 63px;
	margin-bottom: -8px;
}

.html-css3 p{
	padding-left: 63px;
	color: #ACACAC;
}

/*fifth div*/
.email-template
{
	width: 30%;
	float: left;
	margin-left: 350px;
    margin-top: -149px;
}

.email-template img{
	float: left;
	margin-left: -4px;
}

.email-template h3{
	padding-left: 63px;
	margin-top: 0px;
	margin-bottom: -8px;
}

.email-template p{
	padding-left: 63px;
	color: #ACACAC;
}

/*sixth div*/
.free-to-download
{
	width: 30%;
	float: left;
    margin-left: 700px;
    margin-top: -150px;
}

.free-to-download img{
	float: left;
}

.free-to-download h3{
	padding-left: 63px;
	margin-top: 0px;
	margin-bottom: -8px;
}

.free-to-download p{
	padding-left: 63px;
	color: #ACACAC;
}
